*.smx   filter=lfs diff=lfs merge=lfs -diff
*.so    filter=lfs diff=lfs merge=lfs -diff
*.dll   filter=lfs diff=lfs merge=lfs -diff
*.tar   filter=lfs diff=lfs merge=lfs -diff
*.bz2   filter=lfs diff=lfs merge=lfs -diff
*.xz    filter=lfs diff=lfs merge=lfs -diff
*.zip   filter=lfs diff=lfs merge=lfs -diff
*.7z    filter=lfs diff=lfs merge=lfs -diff
*.jar   filter=lfs diff=lfs merge=lfs -diff
*.exe   filter=lfs diff=lfs merge=lfs -diff
*.vtf   filter=lfs diff=lfs merge=lfs -diff
*.vmt   filter=lfs diff=lfs merge=lfs -text
*.png   filter=lfs diff=lfs merge=lfs -diff
*.jpg   filter=lfs diff=lfs merge=lfs -diff
*.tga   filter=lfs diff=lfs merge=lfs -diff
*.wav   filter=lfs diff=lfs merge=lfs -diff
*.mp3   filter=lfs diff=lfs merge=lfs -diff
*.mdl   filter=lfs diff=lfs merge=lfs -diff
*.vtx   filter=lfs diff=lfs merge=lfs -diff
*.vvd   filter=lfs diff=lfs merge=lfs -diff
*.ani   filter=lfs diff=lfs merge=lfs -diff
*.nav   filter=lfs diff=lfs merge=lfs -diff
*.bsp   filter=lfs diff=lfs merge=lfs -diff
*.dat   filter=lfs diff=lfs merge=lfs -diff
