/*
!str0*
!build.sh
!start.sh
!scripts
!.gitignore
!.ci-fastdl
!.gitlab-ci.yml
!tf
!script
tf/*
!tf/addons
!tf/custom
tf/addons/sourcemod/configs/items.cfg
tf/addons/*/scripting/**/*.smx
tf/addons/*/plugins/*.smx

!*.res

tf/addons/*/logs
!tf/addons/*/logs/chat/.gitkeep
!tf/addons/*/logs/stac/.gitkeep
!tf/addons/*/logs/.gitkeep

tf/cfg/*
!tf/cfg/quickplay
!tf/cfg/items.cfg
!tf/cfg/sourcemod
!tf/cfg/cp_powerhouse.cfg
!tf/cfg/pure_server_whitelist.txt
!tf/cfg/sd_doomsday_event.cfg
!tf/cfg/ctf_*.cfg
# fix sv pure
!tf/cfg/pure_server_*
!tf/cfg/trusted_keys_base.txt

tf/addons/*/data/sqlite/clientprefs-sqlite.sq3
tf/addons/*/data/_*.data
tf/addons/*/configs/sourcebans/sb_admins.cfg
tf/addons/*/configs/sourcebans/sb_admin_groups.cfg
tf/addons/*/configs/sourcebans/sourcebans.cfg
tf/addons/*/configs/item_schema.cfg
tf/addons/*/backup/*
!tf/addons/sourcemod/scripting/fixes/*
!tf/addons/sourcemod/scripting/fixes/

!tf/maps
!tf/maps/*
tf/maps/graphs

// All maps, that are downloaded on testing servers have _t postfix.
tf/maps/*_t.bsp

# stock maps we use
#tf/maps/cp_dustbowl.bsp
#tf/maps/cp_freight_final1.bsp
#tf/maps/cp_gorge.bsp
#tf/maps/cp_mountainlab.bsp
#tf/maps/cp_powerhouse.bsp
#tf/maps/cp_snakewater_final1.bsp
#tf/maps/cp_steel.bsp
#tf/maps/cp_sunshine.bsp
#tf/maps/koth_harvest_final.bsp
#tf/maps/koth_highpass.bsp
#tf/maps/koth_king.bsp
#tf/maps/pl_borneo.bsp
#tf/maps/pl_enclosure_final.bsp
#tf/maps/pl_pier.bsp
#tf/maps/pl_swiftwater_final1.bsp
#tf/maps/pl_upward.bsp
#tf/maps/plr_bananabay.bsp
#tf/maps/itemtest.bsp

# alt gamemodes
#tf/maps/ctf_2fort.bsp
#tf/maps/ctf_landfall.bsp
#tf/maps/ctf_turbine.bsp
#tf/maps/plr_hightower.bsp
#tf/maps/plr_nightfall_final.bsp
#tf/maps/cp_degrootkeep.bsp
#tf/maps/ctf_foundry.bsp
#tf/maps/ctf_hellfire.bsp
#tf/maps/ctf_thundermountain.bsp
#tf/maps/pass_brickyard.bsp
#tf/maps/pass_district.bsp
#tf/maps/pass_timbertown.bsp
#tf/maps/rd_asteroid.bsp
#tf/maps/pd_watergate.bsp
#tf/maps/pd_monster_bash.bsp
#tf/maps/sd_doomsday.bsp
#tf/maps/tc_hydro.bsp


!tf/materials
!tf/models
!tf/sound

!tf/scripts
tf/scripts/items/*
tf/scripts/protodefs/*
!tf/scripts/items/mvm_*.txt
!tf/scripts/population

!tf/cfg
tf/cfg/*
!tf/cfg/quickplay
!tf/cfg/items.cfg
!tf/cfg/sourcemod
!tf/cfg/cp_powerhouse.cfg
!tf/cfg/pure_server_whitelist.txt
!tf/cfg/sd_doomsday_event.cfg
!tf/cfg/ctf_*.cfg

# private
#tf/addons/sourcemod/configs/databases.cfg
#tf/addons/sourcemod/configs/discord.cfg
#tf/cfg/quickplay/private.cfg
